<div class="w-full h-screen p-8">
  <div *ngIf="!numberToGuess; else guess_number">
    <ng-container *ngTemplateOutlet="generate_number"></ng-container>
  </div>

  <ng-template #generate_number>
    <div class="flex flex-col gap-4">
      <div class="flex gap-4 items-center">
        <label for="max_number">Max Number</label>
        <input
          class="p-2 border border-slate-600 rounded-md"
          type="number"
          id="max_number"
          placeholder="Enter maximum number"
          [(ngModel)]="maxNumber"
        />
        <p class="text-xs text-red-500 font-semibold" *ngIf="display_error">
          Max number should be greater than 0
        </p>
      </div>
      <button
        class="border border-slate-600 bg-slate-600 text-white px-4 py-2 rounded-md hover:bg-black w-full md:max-w-xs"
        (click)="generateRandomNumber()"
      >
        Generate
      </button>
    </div>
  </ng-template>

  <ng-template #guess_number>
    <div class="font-semibold text-2xl flex items-center">
      Attempts: {{ attempts }}
    </div>
    <app-guess
      [is_max_attempt]="display_max_attempts_error"
      [is_answer_correct]="display_answer"
      (guessedNumber)="checkGuessedNumber($event)"
    ></app-guess>

    <div *ngIf="higher_or_lower.length > 0">
      <div *ngFor="let val of higher_or_lower">
        <div *ngIf="val < numberToGuess">
          <app-higher [guess]="val"></app-higher>
        </div>
        <div *ngIf="val > numberToGuess">
          <app-lower [guess]="val"></app-lower>
        </div>
      </div>
    </div>

    <br />

    <p
      *ngIf="display_max_attempts_error"
      class="font-semibold text-4xl text-red-500"
    >
      Could not Guess the Right Number, which was {{ numberToGuess }}
    </p>

    <p *ngIf="display_answer" class="font-semibold text-4xl text-green-500">
      Guessed the correct answer which is {{ numberToGuess }}
    </p>
  </ng-template>
</div>
